@tailwind base;

@layer base {
  h1 {
    @apply text-4xl sm:text-6xl md:text-7xl font-semibold leading-none;
  }
  a {
    @apply hover:text-black text-gray-600 transition duration-200;
  }

  .section-hero {
    @apply container mx-auto mt-4 p-4 lg:p-14 py-10 lg:py-20 flex bg-gradient-to-br from-gray-50 to-gray-200 rounded;
  }
  .section {
    @apply container mx-auto my-16 lg:my-32 px-8;
  }

  .section-box {
    @apply container mx-auto my-10 lg:my-20 py-16 lg:py-32 px-8 bg-gray-100 rounded-lg;
  }

  .background-clip-text {
    -webkit-background-clip: text !important;
  }
}
@tailwind components;

@tailwind utilities;

@layer utilities {
  @responsive {
    @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
      .backdrop-blur {
        -webkit-backdrop-filter: blur(2em);
        backdrop-filter: blur(2em);
      }
    }
  }
}
